{% extends "base.html" %}  <!--it inherites base.html-->
{% block title %}
  Doctors
{% endblock %} 
{% block content %}
 
 <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Doctors List</h2>
    <a href="{% url 'doctor_add' %}" class="btn btn-success">+ Add Doctor</a>
 </div>
 <form method="GET" class="mb-3">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="search doctor by name..." value="{{ request.GET.search }}">

        <button class="btn btn-primary" type="submit">Search</button>
    </div>
 </form>
<table class="table table-bordered table-striped">  <!--bootstrap table add borders  table striped means creates alternate row colors-->
    <thead class="table-primary">
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Specialization</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in page_obj %}  <!--this is logic it doesnot print anything it controls the template-->
        <tr>
            <td>{{ doctor.id }}</td>
            <td>{{ doctor.name }}</td>
            <td>{{ doctor.specialization }}</td>
            <td>{{ doctor.email }}</td>
            <td>{{doctor.phone }}</td>
            <td>
                <a href="{% url 'doctor_edit' doctor.pk %}" class="btn btn-warning btn-sm">Edit</a>
            
            
                <a href="{% url 'doctor_delete' doctor.pk %}" class="btn btn-warning btn-sm">Delete</a>
            </td>
        </tr>
        {% empty %}  <!--for no doctors available-->
        <tr>
            <td colspan="5" class="text-center">No doctors available</td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="Doctor pagination" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
        </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                Page{{ page_obj.number}} of{{ page_obj.paginator.num_pages}}
            </span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}