{% extends 'base.html' %}
{% block title %}
Patients
{% endblock %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Patients List </h2>
    <a href="{% url 'patient_add' %}" class="btn btn-success">+Add Patient</a>
</div> 

<form method="GET" class="mb-3">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="search patient name..." value="{{ request.GET.search }}">

        <button class="btn btn-primary" type="submit">Search</button>
    </div>
 </form>
<table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Blood Group</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
        <tbody>
            {% for patient in page_obj %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.blood_group }}</td>
                <td>{{ patient.phone }}</td>
                <td>{{ patient.address }}</td>
                <td>
                    <a href="{% url 'patient_edit' patient.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'patient_delete' patient.pk %}" class="btn btn-warning btn-sm">Delete</a>
                </td>

                
            </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No Patients Available</td>
                </tr>
                {% endfor %}
        </tbody>
    
</table>
<nav aria-label="Patient pagination" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
        </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                Page{{ page_obj.number}} of{{ page_obj.paginator.num_pages}}
            </span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}