{% extends 'base.html' %}   
{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">Hospital Management Dashboard</h2>

<div class="row">


    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5>Doctors</h5>
                <h2>{{doctor_count}}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5>Patients</h5>
                <h2>{{patient_count}}</h2>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5>Appointments</h5>
                <h2>{{appointment_count}}</h2>
            </div>
        </div>
    </div>

    
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5>Prescriptions</h5>
                <h2>{{prescription_count}}</h2>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5>Bills</h5>
                <h2>{{bill_count}}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5>Departments</h5>
                <h2>{{department_count}}</h2>
            </div>
        </div>
    </div>


</div>

{% endblock %}