{% extends 'base.html' %}   
{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">Hospital Management Dashboard</h2>

<div class="row">


    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5><i class="bi bi-person-badge-fill"></i> Doctors</h5>
                <h2>{{doctor_count}}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5><i class="bi bi-people-fill"></i> Patients</h5>
                <h2>{{patient_count}}</h2>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5><i class="bi bi-calendar-check-fill"></i> Appointments</h5>
                <h2>{{appointment_count}}</h2>
            </div>
        </div>
    </div>

    
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5><i class="bi bi-file-earmark-medical-fill"></i> Prescriptions</h5>
                <h2>{{prescription_count}}</h2>
            </div>
        </div>
    </div>


    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5><i class="bi bi-receipt-cutoff"></i> Bills</h5>
                <h2>{{bill_count}}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5><i class="bi bi-hospital-fill"></i> Departments</h5>
                <h2>{{department_count}}</h2>
            </div>
        </div>
    </div>


</div>

{% endblock %}