{% extends 'base.html' %}
{% block title %}
Bills
{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Bills List</h2>
    <a href="{% url 'bills_add' %}" class="btn btn-success btn-sm">+Add Bills</a>
</div>
<table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th> Id</th>
            <th>Patient</th>
            <th>Amount</th>
            <th>Payment</th>
            <th>Billing-Date</th>
            <th>Created-At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for bill in page_obj %}
        <tr>
            <td>{{bill.id}} </td>
            <td>{{bill.patient}}</td>
            <td>{{bill.amount}}</td>
            <td>{{bill.payment_status}}</td>
            <td>{{bill.bill_date}}</td>
            <td>{{bill.created_at}}</td>
            <td>
                <a href="{% url 'bills_edit' bill.pk %}" class="btn btn-warning btn-sm">Edit</a>


                <a href="{% url 'bills_delete' bill.pk %}" class="btn btn-warning btn-sm">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="align-text-center">no bills Available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="Bills pagination" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
        </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                Page{{ page_obj.number}} of{{ page_obj.paginator.num_pages}}
            </span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number}}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}